<h2 class="featurette-heading fw-normal lh-1">Всі транзакції</h2>
<%= link_to "Додати транзакцію", new_operation_path %>
<table class="table table-striped" width="20px">
  <thead>
    <tr>
      <th scope="col">Опис:</th>
      <th scope="col">Категорія:</th>
      <th scope="col">Дата:</th>
      <th scope="col">Сума:</th>
    </tr>
  </thead>
<% @operations.each do |operation| %>
  <%= render operation %>
  <% end %>

</tbody>
</table>
<%= paginate @operations %>
